[data-suffix] {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 0;
  input {
    flex-shrink: 1;
    flex-grow: 1;
  }
  &:before,
  &:after {
    // height: $input-height;
    // line-height: $input-height - 2;
    color: lighten(black, 60);
  }
}

[data-suffix] {
  &:after {
    content: attr(data-suffix);
    display: block;
    padding: 0 10px 0 0;
    border-top: 1px solid lighten(black, 80);
    border-right: 1px solid lighten(black, 80);
    border-bottom: 1px solid lighten(black, 80);
    border-radius: 0 2px 2px 0;
  }
  input {
    border-right: none;
    padding-right: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
